# ARTn dynamics block (rendered into the dynamics section of the shared dynamic_driver template).

# ----------- ARTn
plugin load $artn_library_plugin_path

fix artn_fix_id all artn dmax 5.0

timestep 0.001


# ---------- Run Minimization ---------------------
reset_timestep 0

min_style fire


## ------ launch
minimize 1e-4 1e-5 5000 10000
