# MD (NVT) dynamics block (rendered into the dynamics section of the shared dynamic_driver template).

velocity all create $temperature $velocity_seed dist gaussian mom yes rot yes

fix nvt_fix_id all nvt temp $temperature $temperature $thermostat_damping

timestep $timestep

reset_timestep 0


## ------ launch
run $number_of_steps
